html {
    font-size: 62.5%;
}

body {
    background-image:url('/images/background.jpg');
    font-size: 1.6rem;
    color: white;
    width: 60rem;
    margin: 0 auto;
    padding: 0;
}

header {
    border-bottom: 0.2rem solid white;
    margin: 0 0 3rem;
    padding: 1.2rem 0;
}

footer {
    margin-top: 3rem;
    padding: 1.2rem 0;
    border-top: 0.2rem solid white;
    font-size: 1.2rem;
    display: flex;
}

#hakyll-credit {
    text-align: right;
    flex-grow: 1;
}

.button-gallery img:hover {
    position: relative;
    top: -3px;
}

nav {
    text-align: right;
    margin: 0;
}

img {
    image-rendering: pixelated;
}

a {
    text-decoration: none;
}

a:link {
    color: #00fffb;
}

a:visited {
    color: #00c7c4;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

nav a {
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 0 0 1.2rem;
    display: inline;
    color: white !important;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

sub {
    font-size: 1.2rem;
}

article .header {
    font-size: 1.4rem;
    font-style: italic;
}

.logo a {
    font-weight: bold;
    text-decoration: none;
    float: left;
    font-size: 1.8rem;
}

.logo {
    margin: 0;
    text-align: left;
}
