@font-face {
    font-family: "Drafting Mono";
    src: url("/fonts/DraftingMono-Regular.ttf");
}

@font-face {
    font-family: "Drafting Mono Medium";
    src: url("/fonts/DraftingMono-Medium.ttf");
}
