html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: white;
    width: 70rem;
    margin: 0 auto;
    padding: 0;
}

header {
    border-bottom: 0.2rem solid white;
    margin: 0 0 3rem;
    padding: 1.2rem 0;
}

footer {
    margin-top: 1.5rem;
    padding: 1.2rem 0;
    border-top: 0.2rem solid white;
    font-size: 1.2rem;
    display: flex;
}

code {
    background-color: rgba(150, 150, 150, 0.5);
    padding-left: 4px;
    padding-right: 4px;
}

nav {
    text-align: right;
    margin: 0;
}

nav a {
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 0 0 1.2rem;
    display: inline;
    color: white !important;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

sub {
    font-size: 1.2rem;
}

sub p {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

article .header {
    font-size: 1.4rem;
    font-style: italic;
}

#rtl-footer {
    text-align: right;
    flex-grow: 1;
}
